<form method="post" action="/login">
	<p class="label">ユーザーネーム</p><input name="username" type="text">
	<p class="label">パスワード</p><input name="password" type="password">
	<input type="submit" value="ログイン"><a href="/register" class="button register">登録</a>
</form>