<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/custom.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Abel|Ropa+Sans|Wire+One' rel='stylesheet' type='text/css'>
    </head>
    <body>

        <nav>
            <a href="" class="logo">Butai</a>
            <a href="">物語シリーズセカンドシーズン</a>
            <a href="">メモリーズオフ ゆびきりの記憶</a>
            <a href="">メモリーズオフ ～それから～</a>
            <a href="">メモリーズオフ6</a>
            <a href="">メモリーズオフ</a>
            <a href="">けいおん！！</a>
            <a href="">けいおん！</a>
            <a href="">放浪息子</a>
            <a href="">紅</a>
            <a href="">咲</a>
            <a href="">Darker than black</a>
            <a href="">よくわかる現代魔法</a>
            <a href="">イブの時間</a>
            <a href="">東のエデン</a>
            <a href="">ゆるゆり</a>
            <a href="">化物語</a>
            <a href="">たまゆら</a>
            <a href="">つり球</a>
            <a href="">時をかける少女</a>
            <a href="">AIR</a>
            <a href="">花咲くいろは</a>
            <a href="">デュラララ</a>
            <a href="">Kanon</a>
            <a href="">らき☆すた</a>
            <a href="">Darker than black OVA</a>
            <a href="">偽物語</a>

            <div class="bottom">
                <a href="">投稿</a>
                <a href="">地図</a>
                <a href="">ログイン</a>
            </div>
        </nav>

        <div class="primary">
            <div class="entry">
                <div class="images">
                    <img class="photo" src="http://s3-ap-northeast-1.amazonaws.com/butai/110/photos_medium.png?1385229960" width="367" />
                    <img class="capture" src="http://s3-ap-northeast-1.amazonaws.com/butai/110/captures_medium.png?1385229962" width="367" />
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="speach-triangle"></div>
                <img src="http://www.gravatar.com/avatar/b6a007611d9373ab5159455635ff328e?d=blank&s=150" alt="" class="avatar">
                <a href="" class="location right-item">京都府京都市東山区</a>
                <a href="" class="artwork right-item">恋物語</a>
                <div class="clearfix"></div>
            </div>
            <div class="entry">
                <div class="images">
                    <img alt="Photos_medium" src="http://s3-ap-northeast-1.amazonaws.com/butai/109/photos_medium.png?1384111147" width="367" />
                    <img alt="Captures_medium" src="http://s3-ap-northeast-1.amazonaws.com/butai/109/captures_medium.jpg?1384111150" width="367" />
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="speach-triangle"></div>
                <img src="http://www.gravatar.com/avatar/b6a007611d9373ab5159455635ff328e?d=blank&s=150" alt="" class="avatar">
                <span class="title">どっか行きました！！楽しかったです。</span>
                <a href="" class="comment-count right-item">3</a>
                <a href="" class="location right-item">東京都千代田区</a>
                <a href="" class="artwork right-item">咲</a>
                <div class="clearfix"></div>
            </div>
            <div class="entry">
                <div class="images">
                    <img class="photo" src="http://s3-ap-northeast-1.amazonaws.com/butai/106/photos_medium.JPG?1380560963" width="367" />
                    <img class="capture" src="http://s3-ap-northeast-1.amazonaws.com/butai/106/captures_medium.jpg?1380560964" width="367" />
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="speach-triangle"></div>
                <img src="http://www.gravatar.com/avatar/b6a007611d9373ab5159455635ff328e?d=blank&s=150" alt="" class="avatar">
                <a href="" class="location right-item">神奈川県藤沢市</a>
                <div class="clearfix"></div>
            </div>
            <div class="entry">
                <div class="images">
                    <img class="photo" src="http://s3-ap-northeast-1.amazonaws.com/butai/110/photos_medium.png?1385229960" width="367" />
                    <img class="capture" src="http://s3-ap-northeast-1.amazonaws.com/butai/110/captures_medium.png?1385229962" width="367" />
                        <div class="clearfix"></div><div
                     class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="speach-triangle"></div>
                <img src="http://www.gravatar.com/avatar/b6a007611d9373ab5159455635ff328e?d=blank&s=150" alt="" class="avatar">
                <div class="clearfix"></div>
            </div>
            <div class="entry">
                <div class="images">
                    <img class="photo" src="http://s3-ap-northeast-1.amazonaws.com/butai/110/photos_medium.png?1385229960" width="367" />
                    <img class="capture" src="http://s3-ap-northeast-1.amazonaws.com/butai/110/captures_medium.png?1385229962" width="367" />
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="speach-triangle"></div>
                <img src="http://www.gravatar.com/avatar/b6a007611d9373ab5159455635ff328e?d=blank&s=150" alt="" class="avatar">
                <div class="clearfix"></div>
            </div>
            <div class="entry">
                <div class="images">
                    <img class="photo" src="http://s3-ap-northeast-1.amazonaws.com/butai/110/photos_medium.png?1385229960" width="367" />
                    <img class="capture" src="http://s3-ap-northeast-1.amazonaws.com/butai/110/captures_medium.png?1385229962" width="367" />
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="speach-triangle"></div>
                <img src="http://www.gravatar.com/avatar/b6a007611d9373ab5159455635ff328e?d=blank&s=150" alt="" class="avatar">
                <div class="clearfix"></div>
            </div>
            <div class="entry">
                <div class="images">
                    <img class="photo" src="http://s3-ap-northeast-1.amazonaws.com/butai/110/photos_medium.png?1385229960" width="367" />
                    <img class="capture" src="http://s3-ap-northeast-1.amazonaws.com/butai/110/captures_medium.png?1385229962" width="367" />
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="speach-triangle"></div>
                <img src="http://www.gravatar.com/avatar/b6a007611d9373ab5159455635ff328e?d=blank&s=150" alt="" class="avatar">
                <div class="clearfix"></div>
            </div>
            <div class="entry">
                <div class="images">
                    <img class="photo" src="http://s3-ap-northeast-1.amazonaws.com/butai/110/photos_medium.png?1385229960" width="367" />
                    <img class="capture" src="http://s3-ap-northeast-1.amazonaws.com/butai/110/captures_medium.png?1385229962" width="367" />
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="speach-triangle"></div>
                <img src="http://www.gravatar.com/avatar/b6a007611d9373ab5159455635ff328e?d=blank&s=150" alt="" class="avatar">
                <div class="clearfix"></div>
            </div>
            <div class="entry">
                <div class="images">
                    <img class="photo" src="http://s3-ap-northeast-1.amazonaws.com/butai/110/photos_medium.png?1385229960" width="367" />
                    <img class="capture" src="http://s3-ap-northeast-1.amazonaws.com/butai/110/captures_medium.png?1385229962" width="367" />
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="speach-triangle"></div>
                <img src="http://www.gravatar.com/avatar/b6a007611d9373ab5159455635ff328e?d=blank&s=150" alt="" class="avatar">
                <div class="clearfix"></div>
            </div>
            <div class="entry">
                <div class="images">
                    <img class="photo" src="http://s3-ap-northeast-1.amazonaws.com/butai/110/photos_medium.png?1385229960" width="367" />
                    <img class="capture" src="http://s3-ap-northeast-1.amazonaws.com/butai/110/captures_medium.png?1385229962" width="367" />
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="speach-triangle"></div>
                <img src="http://www.gravatar.com/avatar/b6a007611d9373ab5159455635ff328e?d=blank&s=150" alt="" class="avatar">
                <div class="clearfix"></div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
