<form method="post">
	<p class="label">ユーザーネーム</p>
	<input name="username" type="text" value="<%- username %>">
	<p class="label">メールアドレス</p>
	<input name="email" type="text" value="<%- email %>">
	<p class="label">パスワード</p>
	<input name="password" type="password" value="<%- password %>">
	<input type="submit" value="気合、入れて、行きます！">
	<BR/>
	<div class="error-message"><%- error %></div>
</form>