    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAh0z9PrtdXhd84WvhdTMcbRd_krXYZPLM&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementsByClassName("map-canvas")[0],
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <div class="map-canvas"></div>