  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAh0z9PrtdXhd84WvhdTMcbRd_krXYZPLM&sensor=false">
  </script>
  <div class="map-canvas browser" data-address="<%= address %>"></div>