<div class="map-photosets">
    <div class="map-photoset" style="background-image:url(http://s3-ap-northeast-1.amazonaws.com/butai/87/captures_medium.png?1380457234)">
        <p class="caption">けいおん！</p>
    </div>
    <div class="map-photoset" style="background-image:url(http://s3-ap-northeast-1.amazonaws.com/butai/87/captures_medium.png?1380457234)">
        <p class="caption">けいおん！</p>
    </div>
    <div class="map-photoset" style="background-image:url(http://s3-ap-northeast-1.amazonaws.com/butai/87/captures_medium.png?1380457234)">
        <p class="caption">けいおん！</p>
    </div>
    <div class="map-photoset" style="background-image:url(http://s3-ap-northeast-1.amazonaws.com/butai/87/captures_medium.png?1380457234)">
        <p class="caption">けいおん！</p>
    </div>
    <div class="map-photoset" style="background-image:url(http://s3-ap-northeast-1.amazonaws.com/butai/87/captures_medium.png?1380457234)">
        <p class="caption">けいおん！</p>
    </div>
    <div class="map-photoset" style="background-image:url(http://s3-ap-northeast-1.amazonaws.com/butai/87/captures_medium.png?1380457234)">
        <p class="caption">けいおん！</p>
    </div>
    <div class="map-photoset" style="background-image:url(http://s3-ap-northeast-1.amazonaws.com/butai/87/captures_medium.png?1380457234)">
        <p class="caption">けいおん！</p>
    </div><div class="map-photoset" style="background-image:url(http://s3-ap-northeast-1.amazonaws.com/butai/87/captures_medium.png?1380457234)">
        <p class="caption">けいおん！</p>
    </div><div class="map-photoset" style="background-image:url(http://s3-ap-northeast-1.amazonaws.com/butai/87/captures_medium.png?1380457234)">
        <p class="caption">けいおん！</p>
    </div>
</div>
<div id="test-output"></div>