nav, .nav-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 20%;
  min-width: 125px;
  height: 100%;
  line-height: 120%;
  text-align: right;
  overflow: hidden;
  z-index: 10; }
  @media screen and (max-width: 600px) {
    nav, .nav-background {
      position: relative;
      max-height: 160px; } }
  nav a, nav p, .nav-background a, .nav-background p {
    font-size: 12px;
    color: black;
    display: block;
    text-decoration: none; }
    nav a:hover, nav p:hover, .nav-background a:hover, .nav-background p:hover {
      text-decoration: underline; }
  nav a.logo, .nav-background a.logo {
    font-family: "DIN condensed", sans-serif;
    margin-top: 40px;
    font-size: 24px;
    line-height: 24px; }
  nav .logo-caption, .nav-background .logo-caption {
    color: #aaa;
    margin: 0;
    margin-bottom: 40px; }
    nav .logo-caption:hover, .nav-background .logo-caption:hover {
      text-decoration: none; }
  nav .bottom, .nav-background .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white; }
  nav .background, .nav-background .background {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red; }
  nav .avatar, .nav-background .avatar {
    height: 50px;
    height: 50px;
    border-radius: 100px; }
  nav .map-photosets .map-photoset, .nav-background .map-photosets .map-photoset {
    position: relative;
    width: 50px;
    height: 50px;
    float: right;
    margin: 3% 0 3% 6%;
    cursor: pointer;
    background-size: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat; }
    nav .map-photosets .map-photoset.selected, .nav-background .map-photosets .map-photoset.selected {
      outline: solid 3px red; }
    nav .map-photosets .map-photoset .caption, .nav-background .map-photosets .map-photoset .caption {
      position: absolute;
      margin: 0;
      bottom: 0;
      max-width: 100%;
      color: white; }

.primary {
  position: relative;
  left: 0;
  margin-left: 21%;
  max-width: 1000px;
  padding-top: 40px; }
  @media screen and (max-width: 625px) {
    .primary {
      margin-left: 131.25px; } }
  @media screen and (max-width: 600px) {
    .primary {
      margin-left: 0; } }
  .primary.extend-right {
    max-width: none; }
  .primary.full-width {
    max-width: none;
    margin-left: 0; }
  .primary .paging {
    text-align: center;
    margin-bottom: 30px; }
    .primary .paging a {
      text-decoration: none;
      color: #22AFBB;
      border: solid 1px #22AFBB;
      padding: 10px 20px;
      border-radius: 20px; }
    .primary .paging a.prev {
      border-radius: 20px 0 0 20px; }
    .primary .paging a.next {
      border-radius: 0 20px 20px 0; }
  .primary .entry {
    margin-bottom: 40px;
    width: 100%; }
    .primary .entry .images {
      position: relative; }
      .primary .entry .images .photo-wrapper {
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute; }
        .primary .entry .images .photo-wrapper img {
          height: 100%; }
      .primary .entry .images .capture-wrapper {
        line-height: 0;
        font-size: 0; }
        .primary .entry .images .capture-wrapper img {
          width: 100%; }
      @media screen and (max-width: 600px) {
        .primary .entry .images .photo-wrapper, .primary .entry .images .capture-wrapper {
          width: 100%;
          min-width: 100%;
          position: relative; }
          .primary .entry .images .photo-wrapper img, .primary .entry .images .capture-wrapper img {
            width: 100%;
            height: auto; } }
      .primary .entry .images > img.single-image {
        width: 100%; }
    .primary .entry .speach-triangle {
      display: block;
      height: 10px;
      margin-top: -10px; }
      .primary .entry .speach-triangle:before {
        content: ".";
        height: 0px;
        border-style: solid;
        border-width: 0px 10px 10px 0px;
        border-color: transparent transparent white transparent;
        font-size: 0;
        width: 30px;
        display: block;
        position: absolute; }
      .primary .entry .speach-triangle:after {
        content: ".";
        height: 0px;
        border-style: solid;
        border-width: 0px 0px 10px 10px;
        border-color: transparent transparent white transparent;
        font-size: 0;
        left: 40px;
        position: absolute;
        display: block;
        right: 0px; }
    .primary .entry .avatar {
      margin-top: 5px;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      margin-left: 20px; }
    .primary .entry span.title {
      margin-top: 18.5px;
      font-size: 15px;
      display: inline-block; }
    .primary .entry a.right-item {
      margin-top: 14px;
      padding: 5px;
      text-decoration: none;
      float: right;
      font-size: 12px;
      color: #999; }
    .primary .entry a.comment-count {
      background-color: #f9f9f9;
      padding: 5px 10px;
      border-radius: 5px; }
      .primary .entry a.comment-count:hover {
        background-color: #eee; }
  .primary .artworks div.artwork {
    width: 33%;
    min-width: 250px;
    height: 300px;
    display: inline-block;
    float: left;
    position: relative; }
    @media screen and (max-width: 950px) {
      .primary .artworks div.artwork {
        width: 50%; } }
    @media screen and (max-width: 633px) {
      .primary .artworks div.artwork {
        width: 100%; } }
    .primary .artworks div.artwork .capture, .primary .artworks div.artwork .photo {
      position: absolute;
      background-size: 100%;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      overflow: hidden; }
    .primary .artworks div.artwork .capture {
      z-index: 20; }
    .primary .artworks div.artwork .photo {
      z-index: 10; }
    .primary .artworks div.artwork .caption {
      position: absolute;
      bottom: 0;
      z-index: 30;
      margin: 0 0;
      width: 100%;
      padding: 10px 0;
      transition: all 0.5s; }
      .primary .artworks div.artwork .caption .artwork {
        font-size: 30px;
        margin-left: 10px; }
      .primary .artworks div.artwork .caption .location {
        font-size: 12px; }
      .primary .artworks div.artwork .caption.background--light {
        color: black; }
      .primary .artworks div.artwork .caption.background--complex {
        background-color: rgba(255, 255, 255, 0.4); }
      .primary .artworks div.artwork .caption.background--dark {
        color: white; }
        .primary .artworks div.artwork .caption.background--dark.background--complex {
          background-color: rgba(0, 0, 0, 0.4); }
  .primary .photoset {
    width: 100%; }
    .primary .photoset .photo, .primary .photoset .capture {
      width: 50%;
      float: left; }
      @media screen and (max-width: 600px) {
        .primary .photoset .photo, .primary .photoset .capture {
          width: 100%; } }
    .primary .photoset .single-image {
      width: 100%;
      height: 100%;
      float: left; }
  .primary .photoset-map {
    width: 100%;
    height: 200px;
    margin-top: 50px; }
    .primary .photoset-map .map-canvas {
      width: 100%;
      height: 100%; }
  .primary .comment {
    width: 100%;
    max-width: 300px;
    margin: 10px auto; }
    .primary .comment .avatar {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      float: left; }
    .primary .comment .body {
      margin-left: 50px;
      background: #eee;
      border-radius: 5px;
      padding: 5px;
      font-size: 12px;
      min-height: 30px; }
    .primary .comment .body:before {
      content: "";
      height: 0px;
      border-style: solid;
      border-width: 7px 7px 7px 0;
      border-color: transparent #eee transparent transparent;
      width: 0;
      display: block;
      left: 0;
      float: left;
      margin-left: -12px;
      margin-top: 8px; }
  .primary .suggestion {
    margin-top: 50px;
    width: 50%;
    height: 150px;
    float: left;
    overflow: hidden; }
    .primary .suggestion img {
      width: 100%;
      -webkit-filter: brightness(30%) blur(2px); }
    .primary .suggestion .caption {
      z-index: 1;
      position: absolute;
      color: white;
      font-size: 12px;
      bottom: 0;
      margin: 0 0 10px 10px; }
  .primary.map {
    position: absolute;
    width: 79%;
    height: 100%;
    max-width: none;
    padding-top: 0; }
    .primary.map .map-canvas {
      position: relative;
      width: 100%;
      height: 100%; }
  .primary form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-top: 0px; }
    .primary form p.label {
      font-size: 1.5em;
      margin: 0;
      text-align: left; }
    .primary form input[type=text], .primary form input[type=password], .primary form input[type=email] {
      width: 100%;
      border-width: 0 0 1px 0;
      border-color: #7A7A7A;
      font-size: 2em;
      margin-bottom: 30px;
      height: 40px;
      border-style: dotted;
      outline: none; }
      .primary form input[type=text].error, .primary form input[type=password].error, .primary form input[type=email].error {
        background: #ffc7c7; }
    .primary form input[type=submit], .primary form input[type=button], .primary form .button {
      border: 0;
      color: white;
      padding: 10px 40px;
      border-radius: 5px;
      outline: none;
      margin: 10px;
      margin-bottom: 30px;
      cursor: pointer; }
      .primary form input[type=submit]:hover, .primary form input[type=button]:hover, .primary form .button:hover {
        background: #3CBBA6; }
      .primary form input[type=submit][disabled], .primary form input[type=button][disabled], .primary form .button[disabled] {
        background: #999; }
    .primary form input[type=submit] {
      background: #47DBC3; }
    .primary form a.button.register {
      background: #FFC053;
      text-decoration: none; }
      .primary form a.button.register:hover {
        background: #cd9a43; }
    .primary form input[type=file] {
      opacity: 0;
      margin: 0;
      padding: 0;
      height: 0;
      position: absolute; }
    .primary form .progressbar {
      overflow: hidden;
      position: relative; }
      .primary form .progressbar input[type=text], .primary form .progressbar input[type=password] {
        z-index: 3;
        position: relative;
        background: transparent;
        padding: 0; }
      .primary form .progressbar .progressbar-background {
        width: 0%;
        position: absolute;
        background: #9EFAEB;
        top: 0;
        height: 40px;
        z-index: 2; }
    .primary form .error-message {
      background: #e96161;
      position: relative;
      color: white;
      padding: 5px 10px;
      border-radius: 3px;
      font-size: 14px;
      margin-top: -20px;
      display: inline-block; }
      .primary form .error-message:before {
        content: "";
        border-width: 7px;
        border-color: transparent transparent #e96161;
        position: absolute;
        left: 50%;
        top: 0;
        z-index: 4;
        border-radius: 0;
        border-style: solid;
        margin-left: -7px;
        margin-top: -14px; }
      .primary form .error-message.hidden {
        display: none; }
  .primary #create-photoset .map-canvas {
    width: 100%;
    height: 300px;
    margin-bottom: 20px; }
  .primary #create-photoset .select-file {
    font-size: 12px;
    border: 0;
    position: absolute;
    top: 0;
    background: rgba(146, 146, 146, 0.1);
    height: 40px;
    width: 40px;
    right: 0;
    z-index: 4;
    outline: none; }
  .primary form .auto-complete input {
    margin-bottom: 10px; }
  .primary form .auto-complete .artwork-suggestion {
    position: absolute;
    width: 330px;
    color: white;
    overflow: visible;
    z-index: 9;
    margin: 0px 25px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    display: none; }
    .primary form .auto-complete .artwork-suggestion .suggestion-items {
      max-height: 400px;
      overflow: scroll; }
  .primary form .auto-complete .artwork-suggestion:before {
    content: "";
    position: absolute;
    background: transparent;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
    border-width: 10px;
    top: -20px;
    margin-left: -10px; }
  .primary form .auto-complete .artwork-suggestion-item:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2); }
  .primary form.delete .yes, .primary form.delete .no {
    border: 0;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    outline: none;
    margin: 10px;
    margin-bottom: 30px;
    cursor: pointer; }
  .primary form.delete .yes {
    background: #d52750; }
  .primary form.delete .no {
    background: #666; }

.clearfix {
  clear: both; }

/*# sourceMappingURL=custom.css.map */
