<div class="entry">
    <div class="images">
        <img class="photo" src="<%- photoset.getImageURL('reality') %>" width="367" />
        <img class="capture" src="<%- photoset.getImageURL('capture') %>" width="367" />
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="speach-triangle"></div>
    <img src="http://www.gravatar.com/avatar/b6a007611d9373ab5159455635ff328e?d=blank&s=150" alt="" class="avatar">
    <a href="" class="location right-item"><%- photoset.address %></a>
    <a href="" class="artwork right-item">恋物語</a>
    <div class="clearfix"></div>
</div>