<form id="create-photoset" action="/photoset/create">
    <p class="label">二次元</p>
    <div class="progressbar">
        <input type="text" class="capture" placeholder="http://行きたいなー"/>
        <button class="select-file" type="button">うp</button>
        <input class="capture" type="file" />
        <div class="progressbar-background"></div>
        <span class="error-message hidden"></span>
    </div>
    <p class="label">現実</p>
    <div class="progressbar">
        <input type="text" class="reality" placeholder="http://見ろよ"/>
        <button class="select-file" type="button">うp</button>
        <input class="reality" type="file" />
        <div class="progressbar-background"></div>
        <span class="error-message hidden"></span>
    </div>
    <p class="label">引用元</p>
    <input type="text" class="url" placeholder="例) http://example.com"/>
    <p class="label">作品名</p>
    <div class="auto-complete">
        <input type="text" class="artwork" placeholder="例) らき☆すた"/>
        <div class="artwork-suggestion" data-artworks='<%= JSON.stringify(artworks) %>'>
            <div class="suggestion-items"></div>
        </div>
    </div>
    <p class="caption">左クリックで移動、右クリックで場所を選択</p>
    <div class="map-canvas"></div>
    <input type="submit" value="投稿"/>
    <BR/>
    <span class="error-message hidden"></span>
</form>

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAh0z9PrtdXhd84WvhdTMcbRd_krXYZPLM&sensor=false&language=ja">
</script>
<script type="text/javascript" src="/js/jpegmeta.js"></script>