<form id="create-photoset">
    <p class="label">二次元</p>
    <div class="progressbar">
        <input type="text" class="capture" placeholder="http://行きたいなー"/>
        <button class="select-file" type="button">うp</button>
        <input class="capture" type="file" />
        <div class="progressbar-background"></div>
        <span class="error-message hidden"></span>
    </div>
    <p class="label">現実</p>
    <div class="progressbar">
        <input type="text" class="reality" placeholder="http://見ろよ"/>
        <button class="select-file" type="button">うp</button>
        <input class="reality" type="file" />
        <div class="progressbar-background"></div>
        <span class="error-message hidden"></span>
    </div>
    <p class="label">引用元</p>
    <input type="text" class="address" placeholder="例) http://example.com"/>
    <div class="map-canvas"></div>
    <input type="submit" value="投稿"/>
</form>

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAh0z9PrtdXhd84WvhdTMcbRd_krXYZPLM&sensor=false">
</script>
<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(-34.397, 150.644),
      zoom: 8
    };
    var map = new google.maps.Map(document.getElementsByClassName("map-canvas")[0],
        mapOptions);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>