<% artworks.forEach(function(artwork){ %>
	<a href="/a<%- artwork.id %>"><%- artwork.name %></a>
<% }) %>
<!-- <a href="">物語シリーズセカンドシーズン</a>
<a href="">メモリーズオフ ゆびきりの記憶</a>
<a href="">メモリーズオフ ～それから～</a>
<a href="">メモリーズオフ6</a>
<a href="">メモリーズオフ</a>
<a href="">けいおん！！</a>
<a href="">けいおん！</a>
<a href="">放浪息子</a>
<a href="">紅</a>
<a href="">咲</a>
<a href="">Darker than black</a>
<a href="">よくわかる現代魔法</a>
<a href="">イブの時間</a>
<a href="">東のエデン</a>
<a href="">ゆるゆり</a>
<a href="">化物語</a>
<a href="">たまゆら</a>
<a href="">つり球</a>
<a href="">時をかける少女</a>
<a href="">AIR</a>
<a href="">花咲くいろは</a>
<a href="">デュラララ</a>
<a href="">Kanon</a>
<a href="">らき☆すた</a>
<a href="">Darker than black OVA</a>
<a href="">偽物語</a> -->