<div class="make-embed" data-photoset-id="<%- id %>">
	<table>
	<tr>
		<td>レイアウトボタン:</td>
		<td>
			<input type="radio" name="showControl" value="true" checked> On
			<input type="radio" name="showControl" value="false"> Off
		</td>
	</tr>
	
	<tr>
		<td>レイアウト:</td>
		<td>
			<input type="radio" name="side-by-side" value="false" checked>Overlay
			<input type="radio" name="side-by-side" value="true">Side by side
		</td>
	</tr>
	
	<tr>
		<td>Width:</td>
		<td><input type="text" name="width" value="600"></td>
	</tr>
		<td>Height:</td>
		<td><input type="text" name="height" value="564"></td>
	</td>

	<tr>
		<td>Auto Resize(Beta): </td>
		<td>
			<input type="radio" name="resize" value="true"> On
			<input type="radio" name="resize" value="false" checked> Off
		</td>
	</tr>
	</table>
	<br>
	<p>このコードをコピーしてどっかに貼り付けて</p>
	<textarea name="" id="output" cols="30" rows="10"></textarea>
</div>